# Virtual Environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.swp
*~

#
auxiliary/
notebooks/
oscillatory-odyssey/
_build/html/auxi/
resources/